<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="details">
      <div id="details.headline" class="inline-group" style="font-weight: bold;"></div>

      <br>
      <br>

      <div>
        <p id="details.title"></p>
      </div>

      <div class="inline-group">
        <label for="details.initiator">Инициатор: </label>
        <span id="details.initiator"></span>
      </div>

      <br>

      <div class="inline-group">
        <label for="details.period">Дата проведения:</label>
        <span id="details.period"></span>
      </div>

      <br>
      <br>

      <div class="inline-group">
        <label for="details.link" style="display: none;">Оповещение (файл PDF):</label>
        <a id="details.link" href="https://admgor.nnov.ru">
          Оповещение (файл PDF)
        </a>
      </div>
    </div>

    <div class="footer-row" id="footer-row">
      <div class="inline-group">
        <label for="source_url">Источник:</label>
        <a id="source_url" href="https://admgor.nnov.ru/Gorod/Napravleniya-raboty/Gradostroitelstvo/Publichnye-slushaniya/Distancionnye-obshchestvennye-obsuzhdeniya-2025">
          admgor.nnov.ru
        </a>
      </div>
    </div>
  </body>
</html>
