<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div id="details">
      <div id="details.headline" class="inline-group" style="font-weight: bold;"></div>

      <br>
      <br>

      <div>
        <p id="details.title"></p>
      </div>

      <div class="inline-group">
        <label for="details.expert">Эксперт: </label>
        <span id="details.expert"></span>
      </div>

      <br>

      <div class="inline-group">
        <label for="details.publication_date">Дата публикации: </label>
        <span id="details.publication_date"></span>
      </div>
    </div>

    <div class="footer-row">
      <div class="inline-group">
        <label for="source_url">Источник:</label>
        <a id="source_url" href="https://www.zsno.ru/structure/committee/green-planting-expert/svedeniya-ob-ekspertakh/zaklyucheniya-ekspertov.php">
          zsno.ru
        </a>
      </div>
    </div>
  </body>
</html>
